version: "3.8"

services:
  namenode:
    build: ./docker/namenode
    container_name: namenode
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    ports:
      - "9870:9870"
    networks:
      - hadoop-net

  datanode:
    build: ./docker/datanode
    container_name: datanode
    restart: always
    depends_on:
      - namenode
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop.env
    networks:
      - hadoop-net

  resourcemanager:
    build: ./docker/resourcemanager
    container_name: resourcemanager
    restart: on-failure
    depends_on:
      - namenode
      - datanode
    env_file:
      - ./hadoop.env
    ports:
      - "8089:8088"
    networks:
      - hadoop-net

  historyserver:
    build: ./docker/historyserver
    container_name: historyserver
    depends_on:
      - namenode
      - datanode
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    env_file:
      - ./hadoop.env
    ports:
      - "8188:8188"
    networks:
      - hadoop-net

  nodemanager:
    build: ./docker/nodemanager
    container_name: nodemanager
    depends_on:
      - namenode
      - datanode
    env_file:
      - ./hadoop.env
    ports:
      - "8042:8042"
    networks:
      - hadoop-net

  spark-master:
    image: bde2020/spark-master:3.2.1-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop-net

  spark-worker:
    image: bde2020/spark-worker:3.2.1-hadoop3.2
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    ports:
      - "8081:8081"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop-net

  pyspark:
    image: jupyter/pyspark-notebook:spark-3.2.1
    container_name: pyspark-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebook/:/home/jovyan/work/
    networks:
      - hadoop-net

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver:

networks:
  hadoop-net:
    driver: bridge
